header{
	width: 80%;
	height: 150px;
	border: 1px solid #000;
	margin: 0 auto;

}
main{
	width: 70%;
	height: 150px;
	border: 1px solid #000;
	margin: 0 auto;
	min-height: 350px;

}
footer{
	width: 90%;
	height: 150px;
	border: 1px solid #000;
	margin: 0 auto;

}
section{
	width: 60%;
	height: 150px;
	border: 1px solid #000;
	margin: 0 auto;
	min-height: 350px;

}
.box{
	width: 100px;
	height: 100px;
	margin: 2px;
	display: inline-block;
}
.red{
	background: red;
}
.green{
	background: green;
}
.blue{
	background: blue;
}
.yellow{
	background: yellow;
}